$def with (pageInfo)

<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Strict//EN” “http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd”>
<html xmlns=”http://www.w3.org/1999/xhtml”>
<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$pageInfo['title']</title>
    <style type="text/css">
        nav {
            border-bottom: 1px solid black;
        }

        td {
            height: 3em;
        }

        input {
            height: 2em;
        }
    </style>
</head>
<body>
$if pageInfo['upperHref'] != '':
    <div>
        <a href="$pageInfo['upperHref']">上一级</a>
    </div>

<div id='dirTable' align='center'>
    <table>
    $for row in pageInfo['dirs']['rows']:
        <tr>
            $for col in row:
            <td align="center">
                <a href="$col['href']">$col['title']</a>
            </td>
        </tr>
    </table>
</div>


</body>

</html>
