$def with (pageInfo)

<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Strict//EN” “http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd”>
<html xmlns=”http://www.w3.org/1999/xhtml”>
<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$pageInfo['title']</title>
    <style type="text/css">
        nav {
            border-bottom: 1px solid black;
        }

        .crumbs ol {
            list-style-type: none;
            padding-left: 0;
        }

        .crumb {
            display: inline-block;
        }

        .crumb a::after {
            display: inline-block;
            color: #000;
            content: '>';
            font-size: 80%;
            font-weight: bold;
            padding: 0 3px;
        }

        td {
            height: 3em;
        }

        input {
            height: 2em;
        }
    </style>
    <script type="text/javascript">
        var nginxRedirectPath = '/comic/';
        var currentPageIdx = 0;
        var imageNameList = [];
        var dirList = [];
        var userAgent = navigator.userAgent.toLowerCase();
        var desktop = 'desktop';
        var mobile = 'mobile';

        function fillNavHeader()
        {
            var url = document.location.toString();
            var navPath = ['Home'];
            var dirs = [];
            var increasePath = '';
            if (nginxRedirectPath.length == 0)
            {
                var urlWithoutHttp = url.split('//')[1];
                var firstSlashIdx = urlWithoutHttp.indexOf('/');
                var pagePath = urlWithoutHttp.substring(firstSlashIdx + 1);
                dirs = pagePath.split('/');
                increasePath = '/';
            }
            else
            {
                var pathWithoutNginxRedirectPath = url.split(nginxRedirectPath)[1];
                dirs = pathWithoutNginxRedirectPath.split('/');
                increasePath = nginxRedirectPath;
            }
            for (var i=0; i < dirs.length; i++)
            {
                if (dirs[i].length > 0)
                {
                    navPath.push(dirs[i]);
                }
            }
            console.log(navPath);
            var htmlText = '<nav class="crumbs" ><ol>';
            for (var i = 0; i < navPath.length; i++)
            {
                if (i == navPath.length - 1 && i != 0)
                {
                    htmlText = htmlText + '<li class="crumb">' + decodeURI(navPath[i]) + '</li>';
                }
                else
                {
                    if (i > 0)
                    {
                        increasePath = increasePath + navPath[i] + '/';
                    }
                    htmlText = htmlText +
                        '<li class="crumb"><a href="' +
                        increasePath +
                        '">' +
                        decodeURI(navPath[i]) +
                        '</a></li>';
                }
            }
            htmlText = htmlText + '</ol></nav>';
            document.getElementById('navHeader').innerHTML = htmlText;
        }

        function fillDirTableDiv()
        {
            var numberOfCols = 5;
            var paddingColsCount = (numberOfCols - (dirList.length % numberOfCols)) % numberOfCols;
            for (var i =0; i < paddingColsCount; i++)
            {
                dirList.push('')
            }
            var rowCount = dirList.length / numberOfCols;
            var htmlText = '<table>'
            for (var i = 0; i < rowCount; i++)
            {
                htmlText = htmlText + '<tr>';
                for (var j = 0; j < numberOfCols; j++)
                {
                    var regex = /^\d{3}(-\d{3})?/;
                    var dirName = dirList[i*numberOfCols + j];
                    var linkHtml = '&nbsp;&nbsp;<a href="./' + dirName + '/">' + dirName + '</a>&nbsp;&nbsp;';
                    if (dirName.search(regex) == 0)
                    {
                        linkHtml = linkHtml + '<br>&nbsp;&nbsp;<a href="./' + dirName + '/?allImgs=true">全览</a>&nbsp;&nbsp;<br>';
                    }
                    htmlText = htmlText + '<td>' + linkHtml + '</td>';
                }
                htmlText = htmlText + '</tr>';
            }
            htmlText = htmlText + '</table>'
            document.getElementById('dirTable').innerHTML = htmlText;
        }

        function getImageAbsolutePath(imageFileName)
        {
            var url = document.location.toString();
            if (nginxRedirectPath.length == 0)
            {
                var urlWithoutHttp = url.split('//')[1];
                var firstSlashIdx = urlWithoutHttp.indexOf('/');
                var pagePath = urlWithoutHttp.substring(firstSlashIdx);
                return '/image' + pagePath + imageFileName;
            }
            else
            {
                var pathWithoutNginxRedirectPath = url.split(nginxRedirectPath)[1];
                return nginxRedirectPath + 'image/' + pathWithoutNginxRedirectPath + imageFileName;
            }
        }

        function detectDeviceType()
        {
            if (userAgent.indexOf('windows') >= 0)
                return desktop;
            if (userAgent.indexOf('macintosh') >= 0)
                return desktop;
            return mobile;
        }

        function fillImageViewDiv()
        {
            if (imageNameList.length > 0)
            {
                document.getElementById('naviPad').style.visibility = 'visible';
                document.getElementById('targetImageIdx').max = imageNameList.length;
            }
            else
            {
                return;
            }

            var url = document.location.toString();
            var pathWithoutNginxRedirectPath = url.split(nginxRedirectPath)[1];
            var totalViewUrl = nginxRedirectPath + pathWithoutNginxRedirectPath;

            if (currentPageIdx >= imageNameList.length)
            {
                currentPageIdx = imageNameList.length - 1;
            }
            if (currentPageIdx <= 0)
            {
                document.getElementById('previousImg').disabled = true;
            }
            else
            {
                document.getElementById('previousImg').disabled = false;
            }
            if (currentPageIdx == imageNameList.length - 1)
            {
                document.getElementById('nextImg').disabled = true;
            }
            else
            {
                document.getElementById('nextImg').disabled = false;
            }
            document.getElementById('lastImg').value = '末页-' + imageNameList.length.toString();

            var imageName = imageNameList[currentPageIdx];
            var imageStyle = ' style="max-width:100%" ';
            if (detectDeviceType() == desktop)
                imageStyle = ' style="max-width:60%" '
            var htmlText = '<div><a href="' + totalViewUrl + '?allImgs=true">统览</a></div>'
            htmlText = htmlText + '<img ' +
                imageStyle +
                'src="' + getImageAbsolutePath(imageName) + '" onclick=turnToNextImage()></img>';
            var imageViewDiv = document.getElementById('imageView');
            imageViewDiv.innerHTML = htmlText;
            document.getElementById('currentPageId').innerHTML = imageName;
            document.getElementById('targetImageIdx').value = (currentPageIdx + 1).toString();
        }

        function turnToPreviousImage()
        {
            console.log(currentPageIdx);
            currentPageIdx = currentPageIdx - 1;
            fillImageViewDiv();
        }

        function turnToNextImage()
        {
            console.log(currentPageIdx);
            currentPageIdx = currentPageIdx + 1;
            fillImageViewDiv();
        }

        function goToFirstImage()
        {
            currentPageIdx = 0;
            fillImageViewDiv();
        }

        function goToLastImage()
        {
            currentPageIdx = imageNameList.length -1;
            fillImageViewDiv();
        }

        function jumpToRequiredImage()
        {
            var targetIdx = parseInt(document.getElementById('targetImageIdx').value);
            console.log(targetIdx);
            if (Number.isNaN(targetIdx))
            {
                return;
            }
            else if (targetIdx < 1)
            {
                targetIdx = 1;
            }
            else if (targetIdx > imageNameList.length)
            {
                targetIdx = imageNameList.length;
            }
            currentPageIdx = targetIdx - 1;
            fillImageViewDiv();
        }


        var request = new XMLHttpRequest();
        request.responseType = 'json';
        request.onreadystatechange = function() {
            if (request.readyState === 4) {
                if (request.status === 200 || request.status === 304) {
                    var jsonResponse = request.response;
                    console.log(jsonResponse)
                    imageNameList = jsonResponse['files'].sort();
                    dirList = jsonResponse['dirs'].sort();
                    fillNavHeader();
                    fillDirTableDiv();
                    fillImageViewDiv();
                }
                else {
                    alert('HTTP fail: ' + request.status.toString());
                }
            }
        }
        request.open("GET", "./content");
        request.send();
    </script>
</head>
<body>
<div id="navHeader">
    <nav class="crumbs">
        <ol>
            <li class="crumb"><a href="">Home</a></li>
        </ol>
    </nav>
</div>
<div id='dirTable' align='center'></div>
<div id='imageView' align='center'></div>
<div id='naviPad' align='center' style="visibility: hidden;">
    <br>
    <input type='button' value='首页' id='firstImg' onclick="goToFirstImage()"> &nbsp;&nbsp;
    <input type='button' value='上一页' id='previousImg' onclick="turnToPreviousImage()"> &nbsp;&nbsp;
    <span id='currentPageId'></span> &nbsp;&nbsp;
    <input type='button' value='下一页' id='nextImg' onclick="turnToNextImage()"> &nbsp;&nbsp;
    <input type='button' value='末页' id='lastImg' onclick="goToLastImage()">
    <br>
    <br>
    <input id="targetImageIdx" type="number" min="1" max="1">&nbsp;&nbsp;
    <input type='button' value='跳转' id='jumpImg' onclick="jumpToRequiredImage()">
</div>

</body>

</html>
